<h1>Peribiblicum app</h1>
<div class="article-image">
    <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.github.vaggos.serviceapp"><img
            alt="ServiceApp" src="images/serviceapp.png"></a></p>
</div>

<div class="article-body">
    <p>ServiceApp is an Android application (written in Java), that helps you simplify and automate the
        management of the periodic maintenance of your vehicle.</p>
    <p>It is available through Google Play at the following url:</p>
    <p><a href="https://play.google.com/store/apps/details?id=com.github.vaggos.serviceapp">https://play.google.com/store/apps/details?id=com.github.vaggos.serviceapp</a>
    </p>
    <p>You can also visit the GitHub repository for more info at the following url:</p>
    <p><a href="https://github.com/Vaggos/ServiceApp_Android">https://github.com/Vaggos/ServiceApp_Android</a>
    </p>
    <p>There also is a Python CLI edition of the same app which can be found at:</p>
    <p><a href="https://github.com/Vaggos/serviceApp">https://github.com/Vaggos/serviceApp</a></p>
    <p>Enjoy!</p>
</div>