<h1>PeribiblicumApp</h1>
<div class="article-image">
    <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.github.vaggos.serviceapp"><img
            alt="PeribiblicumApp" src="images/peribiblicumapp.png"></a></p>
</div>

<div class="article-body">
    <p>PeribiblicumApp is an Android application (created with PhoneGap and AngularJS), that provides you instant access
        to all the blog posts of
        <a href="https://peribiblicum.wordpress.com/" target="_blank">peribiblicum.wordpress.com</a>.</p>
    <p>Check out every new post quickly and easily!</p>
    <p>It is available through Google Play at the following url:
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.github.Vaggos.phonegap">https://play.google.com/store/apps/details?id=com.github.Vaggos.phonegap</a>
    </p>
    <p>Enjoy!</p>
</div>